<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example template</title>
</head>
<body>
{% if myvar %}
    <h1>The variable I passed in is {{ myvar }}</h1>
    <h1>This is an example template</h1>
{% else %}
    <h1>No variable found.</h1>
{% endif %}
<p>Blah Blah Blah</p>
<a href="https://www.google.com">This is a link to Google</a>


{% for link in links %}
<a href="{{link}}">Here is a link!</a>
{% endfor %}
<h3>This is the end of the template</h3>
</body>
</html>